.custom-colour {
  background-color: #2f344b;
  color: #fff;
}

.icon-custom {
  color: #1efa72;
}
.icon-custom:hover {
  color: #009839;
}

.custom-btn {
  background-color: #1efa72;
  color: #2f344b;
}

.custom-btn:hover {
  background-color: #009839;
  color: #fff;
}

.custom-link {
  color: #1efa72;
}

.vertical-images {
  display: flex;
  flex-direction: column;
}
.side-section {
  background-color: #f0f0f0;
  padding: 20px;
}
.slick-slide {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .button-container {
    bottom: 5px;
    left: 5px;
  }
  .responsive-text {
    font-size: 1rem;
  }
}
